<div class="container" style="width: 50%;">
  <h2>Credit card payment</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Enter Card Details</div>
    <div class="panel-body">
      <div class="right-payment-sec">
        <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">        
          <div class="row">
              <div class="col-lg-12 col-xs-12">
                  <div class="form-group"  >
                      <label for="cardHolder">Card Holder</label>
                      <input type="text" 
                        class="form-control" 
                        formControlName="cardHolder" 
                        [(ngModel)]="creditCard.cardHolder" 
                        id="cardHolder" 
                        placeholder="Card Holder Name"
                      > 
                      <div *ngIf="creditCardForm.get('cardHolder')?.invalid && creditCardForm.get('cardHolder')?.touched" class="error">
                        <div *ngIf="creditCardForm.get('cardHolder')?.errors?.['required']">
                          Card Holder Name is required
                        </div>
                      </div>                   
                  </div>
              </div>
              <!-- [formControl]="getCreditCardNumberControl()" -->
              <div class="col-lg-12 col-xs-12">
                  <div class="form-group">
                      <label for="creditCardNumber">Card Number</label>
                      <input type="text" 
                        class="form-control" 
                        formControlName="creditCardNumber" 
                        [(ngModel)]="creditCard.creditCardNumber" 
                        id="creditCardNumber" 
                        placeholder="XXXX-XXXX-XXXX-XXXX"
                      >
                      <div *ngIf="creditCardForm.get('creditCardNumber')?.invalid && creditCardForm.get('creditCardNumber')?.touched" class="error">
                        <div *ngIf="creditCardForm.get('cardHolder')?.errors?.['required']">Card Number is required</div>
                        <!-- <div *ngIf="creditCardForm.get('cardHolder')?.errors?.['pattern']">Card Number must be 16 digits</div> -->
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                  <div class="form-group">
                      <label for="expirationDate">Expiration Date</label>
                      <input type="date" 
                        class="form-control" 
                        formControlName="expirationDate" 
                        [(ngModel)]="creditCard.expirationDate" 
                        id="expirationDate" 
                        placeholder="Expiration Date"
                      >  
                      <div *ngIf="creditCardForm.get('expirationDate')?.invalid && creditCardForm.get('expirationDate')?.touched"  class="error">
                        <div *ngIf="creditCardForm.get('expirationDate')?.errors?.['required']">Expiration Date is required</div>
                        <!-- <div *ngIf="creditCardForm.get('expirationDate')?.errors?.['pattern']">Expiration Date must be in the format MM/YY</div> -->
                      </div>                  
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                  <div class="form-group">
                      <label for="securityCode">Security Code</label>
                      <input type="text" 
                        class="form-control" 
                        formControlName="securityCode" 
                        [(ngModel)]="creditCard.securityCode" 
                        id="securityCode" 
                        placeholder="Security Code"
                      >                   
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                  <div class="form-group">
                      <label for="amount">Amount</label>
                      <input type="number" 
                        class="form-control" 
                        formControlName="amount" 
                        [(ngModel)]="creditCard.amount" 
                        id="amount" 
                        placeholder="Amount"
                      >  
                      <div *ngIf="creditCardForm.get('amount')?.invalid && creditCardForm.get('amount')?.touched" class="error">
                        <div *ngIf="creditCardForm.get('amount')?.errors?.['required']">Amount is required</div>
                        <!-- <div *ngIf="creditCardForm.get('amount')?.errors?.['pattern']">Amount should be greater than 0.01</div> -->
                      </div>                    
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" style="margin-right: 10px; margin-top: 25px;">Save</button>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>